* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Assuming your custom styles are in your styles.css file */

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1rem;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.truncate-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Limit to two lines */
  -webkit-line-clamp: 2;
  /* Ensure text doesn't wrap */
  white-space: normal;
}
